@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Manrope:wght@500&family=Montserrat:wght@500&family=Sarabun&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.manual-controls {
  width: 100% !important;
  height: 100% !important;
}
.block-control-direction {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #04aa6d;
  /* padding: 100% 100%; */
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 9px #999;
}
.button-control-direction:hover {
  background-color: #3e8e41;
}

.button-control-direction:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.hidden {
  display: none !important;
}

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.btn-focus {
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}
.up-control {
  background-image: url(./Assets/svg/arrow-up.svg);
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.down-control {
  background-image: url(./Assets/svg/arrow-down.svg);
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.left-control {
  background-image: url(./Assets/svg/arrow-left.svg);
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.right-control {
  background-image: url(./Assets/svg/arrow-right.svg);
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.stop-control {
  background-image: url(./Assets/svg/icon-stop-vector.svg);
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;
}

.lastmilelogo{
  background-image: url(./Assets/svg/lmlogo.svg);
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.rotatelogo{
  background-image: url(./Assets/svg/phone-position-rotation-from-vertical-to-horizontal.svg);
  background-size: 40% 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.loadinglogo{
  background-image: url(./Assets/gif/loader.gif);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.warninglogo{
  background-image: url(./Assets/svg/warning-sign.svg);
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.p {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5vw;
}

.p2 {
  font-family: 'Manrope', sans-serif;
  font-size: 4vw;
}

.p3 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.85vw;
}
.p4 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.25vw;
}
.p5 {
  font-family: 'Manrope', sans-serif;
  font-size: 1vw;
}
.p6 {
  font-family: 'Manrope', sans-serif;
  font-size: 3vw;
}
.p7 {
  font-family: 'Manrope', sans-serif;
  font-size: 2.5vw;
}
.p8 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5vw;
}

.p-arrow-button {
  font-family: 'Manrope', sans-serif;
  font-size: 6vw;
  font-size: 6vh;
}

.p-bold{
  font-weight: 600;
}

.text-align-center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.text-align-right{
  display: flex;
  justify-content: right; /* align horizontal */
  align-items: center; /* align vertical */
}

.text-white {
  color: azure;
}
